ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCq7o+9XI0U1I941JDgyoozxNkAtyzo8NRqfV8JC64q2KsMAj7cP92UsTct8RIXM68cBLUbHgB2unbwdeAxpxisPbwb1hqnVda18dt3xn4aalH5mwgtS0vXtEyzo6fXSSxpuGi9SgGLIToEPHiInHD117Z+EwaQMZdLIgYnoRa/cffYO/03ym3FjfauGeK+8d3a9EcJPqmDR0NUAaykghgppGJGvPYm0qZEmNBSpoVGCvtbsYjEMMnbdoa4Jca7JfuPLHLdEERrogNukgM1JP9bsjiO0AsKiziI+NgP1d6JISUC5ifJGPpapYoHG8pMo8RD6+oPbiKIzOZvMPqmDaVAxCS8nx3n4p9hcxisCMl6DKUIURUsu0bJZ+5FcIcy6GneBFW5syAdopoM4AACoir7b9fCw5XLuUrU6DmpjGNL/4y0K7MOzguwiDvwaxtGMfPLDuboW29n4y/3ZAU9cxbJK8j+2C3ts+RYSI4rSgIbx/PJLy7IDYBCN4R9sEg6jUs= {{ item.username }}@{{ ansible_facts['nodename'] }}
